<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon></button>
    <span class="spacer"></span>
  <span class="example-fill-remaining-space"></span>
  <span class="align-center"></span>
  <a mat-button routerLink="/register">Register</a>
  <span class="example-spacer"></span>
  <a mat-button routerLink="/login">Login</a>
</mat-toolbar>
<router-outlet></router-outlet>