<mat-card>
  <mat-card-content>
      <form [formGroup]="form" >
        <h2>Register</h2>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Username" formControlName="username" required [(ngModel)]="name">
        <mat-error>
          Please provide a valid username
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary"(click)=register()>Register</button>
    </form>
  </mat-card-content>
</mat-card>
